.Cart {
    position: absolute;
    right: 8rem;
    top: 4.1rem;
    width: 30rem;
    min-height: 10rem;
    height: auto;
    background-color: white;
    z-index: 999;
    border: 1px solid #CCCCCC;
}

@media(max-width: 600px){
    .Cart {
        
        right: 3rem;
        top: 4.6rem;
 
    }
    
}

.CartItem{
    padding: 2rem;
    width: 100%;
    height: 15rem;
}

.CartItem__Img{
    
    float: left;
    width: 30%;

}

.CartItem__Txt{
    text-align: left;
    float: left;
    width: 70%;
}

.CartItem--Remove{
    
    background-color: transparent;
    border: 1px solid #CCCCCC;
    box-shadow: .1rem .2rem 5px #CCCCCC;
    margin-top: 0.5rem;
    transition: all .2s;
}

.CartItem--Remove:hover{
    box-shadow: .2rem .3rem 7px #CCCCCC;
    border: 1px solid #222222;
    transform: translateY(-1px);

}

.CartItem--Remove:active{
    box-shadow: .1rem .1rem 4px #CCCCCC;
    border: 1px solid #222222;
    transform: translateY(0);

}

.CartItem--Remove:focus{
    outline: none;
}

.CartItem_Txt--Title{
    text-align: left;
    padding-bottom: 1rem;
}
.CartItem_Txt--Price{
    text-align: left;
    padding-bottom: 1rem;
}
.CartItem_Txt--Size{
    text-align: left;
}